
.game-wrapper {
  position: relative;
  width: fit-content;
  margin: 40px auto;
}


canvas {
  display: block;
  border: 3px solid #00ff88;
  background: #0f172a;
  box-shadow: 0 0 20px #00ff88, inset 0 0 40px #00ff88;
  touch-action: none;
}

body {
  overflow: hidden;
}

.hud {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}


.hud .btn {
  pointer-events: auto;
}


.btn {
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  font-size: 14px;
}


.primary {
  background: linear-gradient(145deg, #22c55e, #16a34a);
  color: white;
}

.secondary {
  background: #00eaff;
  color: #00111f;
}

.back {
  background: #111827;
  color: #fff;
}


.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 10px rgba(0, 255, 200, 0.6);
}


.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.modal.show {
  opacity: 1;
  pointer-events: all;
}


.modal-content {
  background: #0f172a;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  color: white;
  width: 300px;
  box-shadow: 0 0 30px #00eaff;
  animation: pop 0.3s ease;
}

.modal-content h2 {
  color: #f43f5e;
  margin-bottom: 10px;
}

.modal-content p {
  margin-bottom: 15px;
}


.modal-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}


@keyframes pop {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
